body {
  width: 960px;
  margin: 10px auto;
}

#site-search {
  background: #d1d1d1;
  text-align: center;
  float: right;
  border: 1px solid black;
  width: 250px;
  height: 50px;
  line-height: 50px;
}

#main-navigation {
  background: #d1d1d1;
  padding-left: 10px;
  height: 30px;
  border: 1px solid black;
  margin: 10px 0;
  line-height: 30px;
}

section {
  background: #d1d1d1;
  display: inline-block;
  width: 288px;
  height: 300px;
  border: 1px solid black;
  margin: 10px 0;
}

#services {
  margin-right: 10px;
}
#speaking-engadgements {
  margin-right: 10px;
}

footer {
  height: 80px;
  background: #d1d1d1;
  border: 1px solid black;
}

footer, section {
  padding: 10px;
}