body {
  width: 960px;
  margin: auto;
  margin-top: 10px;
}

main{
  overflow: auto;
}

#site-search {
  border: 1px solid black;
  float: right;
  height: 50px;
  width: 250px;
  text-align: center;
  line-height: 50px;
}

#main-navigation{
  background: gray;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  line-height: 30px;
  padding-left: 5px;
}

main img{
  margin-bottom: 10px;
}

#workshop, #speaking-engagements, #services {
  height: 300px;
  border: 2px solid black;
  width: 289px;
  background: gray;
  padding: 10px;
}

#speaking-engagements {
  margin: 0 10px;
  float: right;
}

#workshop {
  float: right;
}

#services {
  float: left;
}

footer {
  border: 2px solid black;
  background: gray;
  height: 80px;
  margin-top: 10px;
  padding: 10px;
}